@model IngridientViewModel

@{
    ViewData["Title"] = string.Format(PageTitleResource.StringFormat, PageTitleResource.IngridientDetail, PageTitleResource.SiteName);
}

<div class="indent__margin-bottom">
    
</div>

<div>
    <div>
        <p class="todo__detail">Title: @Model.Name</p>
        <p>Description: @Model.Description</p>
        <p>ReactionType: @Model.ReactionType</p>
        <p>Category: @Model.Category</p>
        <p>Colories: @Model.Colories</p>
    </div>
    <div>
        <a class="button" asp-controller="Ingridient" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="button" asp-controller="Ingridient" asp-action="Index">Back</a>
    </div>
</div>

@section css {
    <link href="~/css/ingridient.css" rel="stylesheet" asp-append-version="true" />
}
