@model IEnumerable<IngridientViewModel>

@{
    ViewData["Title"] = "Ingridient";
}


<h1>Ingridient</h1>
@if (Model.Any())
{
    foreach (var ingridient in Model)
    {
        <div class="ingridient" title="@ingridient.Description">
            <div class="ingridient__wrapper">

                <span class="ingridient__nameIngridient">@ingridient.NameIngridient</span>
                <span class="ingridient__description">@ingridient.Description, @ingridient.Category, @ingridient.Colories, @ingridient.Reaction</span>
                <div class="ingridient__progress">
                    <img src="/images/in-progress.svg" alt="Alternate Text" />

                </div>
            </div>
        </div>

        @*<div>@ingridient.NameIngridient</div>
            <div> @ingridient.Category</div>
            <div> @ingridient.Description</div>
            <div> @ingridient.Colories</div>
            <div> @ingridient.IsRecomended</div>
            <div> @ingridient.Reaction</div>
            <div> @ingridient.IngridientDate</div>*@
    }
}
else
{
    <div> Empty ingridients</div>
}
@section Css {
    <link href="~/css/ingridient.css" rel="stylesheet" />
}
