@model IEnumerable<IngridientViewModel>

@{
    ViewData["Title"] = "Ingridient";
}


<h1>    Ingridient</h1>
@if (Model.Any())
{
    foreach (var ingridient in Model)
    {
        <div class="ingridient" title="@ingridient.Description">
            <div class="ingridient__wrapper">

                <span class="ingridient__nameIngridient">@ingridient.Name</span>
                <span class="ingridient__description">@ingridient.Description, @ingridient.Category, @ingridient.Colories, @ingridient.ReactionType</span>
                <div class="ingridient__progress">
                    <img src="/images/in-progress.svg" alt="Alternate Text" />

                </div>
            </div>
        </div>
    }
}

else
{
    <div class="text">Empty ingridients</div>
}
<a class="button" asp-controller="Ingridient" asp-action="Create">Create</a>

@section css {
    <link href="~/css/ingridient.css" rel="stylesheet" asp-append-version="true" />
}
