@model IEnumerable<ReadyMealViewModels>

@{
    ViewData["Title"] = "Ready Meals";
}

<h1>Your Ready meals</h1>



<div class="main-blank">
    @if (Model.Any())
    {
        foreach (var readyMeal in Model)
        {

            @readyMeal.Name
            @readyMeal.ReadyTime
            @readyMeal.TeastyMeal
            @readyMeal.ChildReacrion
            @readyMeal.Comment
            @readyMeal.Picture
        }
    }

    else
    {
        <div>Ready meals are empty</div>
    }
    <a class="button" asp-controller="ReadyMeal" asp-action="Create">Create</a>

</div>
@section Css {
    <link href="~/css/profile.css" rel="stylesheet" />
}

