@model IEnumerable<ProfileViewModels>


@{
    ViewData["Title"] = "Profile";
}

<h1>Your profile</h1>
<div class="main-blank">
    @if (Model.Any())
    {
        foreach (var profile in Model)
        {
            <pre>
<span class="FirstName">@profile.FirstName</span>

<span class="MiddleName">@profile.MiddleName@profile.LastName</span>

<span class="Date">@profile.BirthDate</span>

<span class="SocialNetwork">@profile.Phone
@profile.Telegram
@profile.SocialNetwork
@profile.ChatId
</span>
<span class="Date">@profile.Created
@profile.LastEdited
</span>
      </pre>
        }
    }

    else
    {
        <div> Profile is empty</div>
    }
</div>
@section Css {
    <link href="~/css/profile.css" rel="stylesheet" />
}
